!!! Strict
%html{html_attrs}
  %head
    %title= "#{@interview.person + " on " if @interview && @interview.person}The Setup"
    %link{:href => '/stylesheets/screen.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/feed', :type => 'application/atom+xml', :rel => 'alternate', :title => 'Atom feed'}
    %meta{:charset => 'utf8'}
  %body
    %header{:class => @interview ? 'small' : 'large'}
      %h1
        %a{:href => "http://usesthis.com/", :title => "This is The Setup, a bunch of nerdy interviews."} the setup
        is a bunch of nerdy interviews
      %p.tagline What do people use to get the job done?
    = yield
    %footer
      :markdown
        This is some sort of **waferbaby** shindig. Sorry about that.
        
        Follow us [on Twitter](http://twitter.com/usesthis/ "Our Twitter account.") or subscribe to [the feed](/feed/ "The Atom feed for the site.") to keep up.
        
        Unless otherwise noted, everything on this here website is available via the [Attribution-Share Alike](http://creativecommons.org/licenses/by-sa/2.5/au/ "A Creative Commons license.") license. Sharing is fucking *cool*.