%p
  %a{:href => "/interviews/new"} Add a new interview
%table
  %tr
    %th Name
    %th Date
  - @interviews.each do |interview|
    %tr
      %td.person
        %a{:href => "/interviews/#{interview.slug}", :title => "Edit the interview with #{interview.person}."}= interview.person
      %td.date= interview.created_at.strftime("%Y/%m/%d")