%p.date= @interview.created_at.strftime("%d.%m.%Y")
%h2= @interview.person
%img{:src => "/images/#{@interview.slug}.jpg", :width => 500, :height => 353, :alt => @interview.person}

%section
  %article
    = markup(content_for(@interview), false)