!!! Strict
%html{html_attrs}
  %head
    %title The Setup
    %link{:href => '/stylesheets/screen', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
  %body
    %h1
      %a{:href => '/', :title => "This is The Setup."}
        The Setup
      is a bunch of nerdy interviews
    %p What do people use to get the job done?
    = yield