!!! Strict
%html{html_attrs}
  %head
    %title The Setup
    %link{:href => 'http://usesthis.com/stylesheets/screen', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => "http://usesthis.com/feed", :type => 'application/atom+xml', :rel => 'alternate', :title => "Atom feed"}
    %meta{"http-equiv" => "content-type", :content => "text/html;charset=utf-8;"}
  %body
    %h1
      %a{:href => 'http://usesthis.com/', :title => "This is The Setup."}The Setup
      is a bunch of nerdy interviews
    %p What do people use to get the job done?
    = yield
    %footer
      :markdown
        This is some sort of [waferbaby](http://waferbaby.com/ "Some website.") shindig, running on [Sinatra](http://www.sinatrarb.com/ "A lovely little Ruby web thingy.") and hosted by [SegPub](http://segpub.net/ "SegPub provide all sorts of awesome web hosting."). Grab the [source code](http://github.com/waferbaby/usesthis/tree/master "View the source code for usesthis.com.") if you're so inclined.

        Unless noted otherwise, everything on the site is available via the [Attribution-Noncommercial-Share Alike 2.5 Australia](http://creativecommons.org/licenses/by-nc-sa/2.5/au/ "A Creative Commons license.") license. _Sharing is fucking **cool**_.