!!! Strict
%html{html_attrs}
  %head
    %title= "#{@interview.person + " on " if @interview}The Setup"
    %link{:href => '/stylesheets/screen', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/stylesheets/mobile', :media => 'only screen and (max-device-width: 480px)', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => 'http://usesthis.com/feed', :type => 'application/atom+xml', :rel => 'alternate', :title => "Atom feed"}
  %body
    %h1
      %a{:href => 'http://usesthis.com/', :title => "This is The Setup."}The Setup
      is a bunch of nerdy interviews
    %p What do people use to get the job done?
    = yield
    %footer
      :markdown
        This is some sort of [waferbaby](http://waferbaby.com/ "Some website.") shindig, running on [Sinatra](http://www.sinatrarb.com/ "A lovely little Ruby web thingy.") and hosted by [SegPub](http://segpub.net/ "SegPub provide all sorts of awesome web hosting."). Grab the [source code](http://github.com/waferbaby/usesthis/tree/master "View the source code for usesthis.com.") if you're so inclined.
        
        Follow us [on Twitter](http://twitter.com/usesthis/ "Follow @usesthis on Twitter."), or subscribe to the [feed](http://usesthis.com/feed/ "Subscribe to the Atom feed.").

        Unless noted otherwise, everything on the site is available via the [Attribution-Noncommercial-Share Alike 2.5 Australia](http://creativecommons.org/licenses/by-nc-sa/2.5/au/ "A Creative Commons license.") license. _Sharing is fucking **cool**_.

    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-94787-4");
    pageTracker._trackPageview();
    } catch(err) {}</script>