a
  color: #aaa
  
a:hover
  color: #888

article
  p, ul
    padding: 12px 20px
    margin: 0
    background:
      color: #1a1a1a
    color: #bbb
    font:
      size: 85%
    line:
      height: 20px
  
body
  width: 508px
  padding: 40px
  margin: 0
  background:
    color: #111
  color: #fff
  font:
    family: helvetica
    size: 16px

footer
  display: block
  padding: 10px 0
  margin: 10px 0
  color: #333
  font:
    size: 70%
  border:
    top: solid 1px #222

  a
    color: #555
		
h1
  padding: 0
  margin: 0
  text:
    transform: uppercase
  color: #333
  font:
    size: 120%

  a
    color: #444

h1 + p
  padding: 0 0 15px 0
  margin: 5px 0 20px 0
  color: #aaa
  font:
    size: 80%
  border:
    bottom: solid 1px #222
  
h2
  padding: 0
  margin: 0 0 20px 0
  color: #df0174
  font:
    size: 230%

h3
  text:
    transform: uppercase
  color: #555
  font:
    size: 140%
    weight: normal

img
  border: solid 4px #000
  padding: 4px
  background:
    color: #fff
      
p.date
  float: right
  padding: 5px
  margin: 10px 10px 0 0
  color: #ddd
  font:
    size: 80%

ul
  list:
    style: 
      position: inside
  
ul#interviews
  list:
    style: none
  padding: 0
  margin: 0

  li
    clear: left
    padding: 0 0 10px 0
    margin: 0
  
    a
      display: block
      padding: 2px 5px
      text:
        decoration: none
      color: #df0174
      font:
        size: 230%

    a:hover
      background:
        color: #fe2e9a
      color: #fff