a.interview {
font-size: 250%;
}

body {
padding: 20px 0;
}

img {
border: 0;
}

p#tagline {
font-size: 110%;
padding-bottom: 20px;
}

p.summary {
font-size: 150%;
padding-bottom: 10px;
}

time {
font-size: 125%;
}