a {
	color: #666;
	text-decoration: underline;
}

a:hover {
	color: #888 !important;
}

a.interview {
	color: #111;
	font-size: 150%
}
 
article a {
	padding: 2px;
	background-color: #ececec;
}

article p {
	line-height: 25px;
}

article p.summary {
	font-size: 120%;
}

article time {
	font-size: 85%;
}

article time:before {
	content: "Published ";
}
      
body {
	width: 505px;
	padding: 50px 0;
	background-color: #fff;
	color: #000;
	margin: auto;
	text-align: left;
	font-family: helvetica, arial
}

footer {
	color: #777;
	font-size: 70%;
}

h1 {
	padding: 0;
	margin: 0;
	color: #000;
	font-size: 175%;
	font-weight: normal;
}

h1 a {
	color: #fe2e9a;
	text-decoration: none;
}
    
h2 {
	padding: 0;
	margin: 20px 0 5px 0;
	color: #fe2e9a;
	font-family: helvetica;
	font-size: 180%;
	font-weight: normal;
}

h2 + p {
	padding: 0;
	margin: 0;
	color: #555;
	font-size: 110%;
}

h3 {
	padding: 0;
	margin: 20px 0 5px 0;
	color: #222;
	font-size: 160%;
	font-weight: normal;
}

img {
	border: 0;
}

img.thumbnail {
	margin: 15px 0 5px 0;
}

p.summary {
	padding: 2px 0;
	margin: 0;
	color: #555;
	font-size: 85%;
}

p.tagline {
	padding: 5px 0;
	margin: 0 0 10px;
	color: #888;
	font-size: 90%;
}

p.pagination {
	text-align: center;
}

time {
	color: #aaa;
	font-size: 75%;
}