%p
  %a{:href => "/admin/interviews/new"} Add an interview
%table
  %tr
    %th Name
    %th Date
    %th Published
    %th Actions
  - @interviews.each do |interview|
    %tr
      %td.person
        %a{:href => "http://#{interview.slug}.usesthis.com/"}= interview.person
      %td.date= interview.created_at.strftime("%Y/%m/%d")
      %td.published ...
      %td.actions
        %a{:href => "/admin/interviews/#{interview.slug}"}Edit
        |
        %a{:href => "/admin/interviews/#{interview.slug}/delete"}Delete