%p
  %a{:href => "/wares/new"} Add new wares
%table
  %tr
    %th Name
    %th Date
  - @wares.each do |ware|
    %tr
      %td.title
        %a{:href => "/wares/#{ware.slug}", :title => "Edit #{ware.title}."}= ware.title
      %td.date= ware.created_at.strftime("%Y/%m/%d")